<!-- home.html -->

<div>
    <div class="banner-container text-center">
        <div class="row">
            <div class="col-md-12">
                <div class="input-container">
                    <h1>Enter your ingredients and discover a tasty recipe!</h1>
                    <div class="row">
                        <div class="col-md-offset-5 col-md-2 col-sm-offset-4 col-sm-4 col-xs-offset-3 col-xs-6">
                            <div class="input-group">
                                <!-- Ingredient Input -->
                                <form name="inputIngredientForm" ng-submit="inputIngredientForm.$valid && add(input)" novalidate>
                                	<div class="ui-widget">
                                    	<input id="tags" ng-model="input.name" type="text" class="form-control" placeholder="Add an ingredient here!" style="font-size: 12px; border-radius: 2px !important;" required />
                                    </div>
                                    <span class="input-group-btn">
										<button type="submit" id="addButton" class="btn">
											<i id="plus-icon" class="fa fa-plus fa-lg"></i>
										</button>
									</span>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="list-container">
        <div class="container">
            <form name="favoritesForm" ng-submit="addFavorites()">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 text-justify">
                        <!-- INGREDIENTS LIST -->
                        <h2 class="text-center" style="margin-bottom: 15px; margin-top: 35px;">My Ingredients</h2>
                        <!-- <h7>The ingredients that you have added are displayed below. Select the ingredients you would like to use to discover a recipe by selecting its checkbox. You can select all of your ingredients by clicking the 'SELECT ALL' button. To remove an ingredient from your list, click the <i class="fa fa-times" style="color: #808080;"></i> icon.</h7>
                        <div class="col-md-8 col-md-offset-2 text-center" style="padding-top:10px; padding-bottom: 5px;">
                        	<button id="select-all" class="btn btn-success btn-sm text-left" ng-click="selectAllIngredients()" style="width:150px;">
								<i class="fa fa-check-square-o"></i>SELECT ALL
							</button>
							<button id="unselect-all" class="btn btn-danger btn-sm text-left" ng-click="unselectAllIngredients()" style="width:150px;">
								<i class="fa fa-check-square-o"></i>UNSELECT ALL
							</button>
                        </div> -->
                        <div class="col-md-10 col-md-offset-1" id="my-ingredients-container">
							<label ng-repeat="ingredient in ingredients | orderBy:'ingredient'" class="text-uppercase single-ingredient-container">
								<input class="ingredientCheckbox" type="checkbox" value="{{ingredient.ingredient}}" name="ingredients[]">
								&nbsp;{{ingredient.ingredient}}&nbsp;
								<span class="delete-icon"><i class="fa fa-times" ng-click="deleteFavoriteIngredient(ingredient)"></i></span>
							</label>	
                        </div>
                    </div>
                    <div class="row text-center">
                        <div class="col-md-12">
					    	<button id="select-all" class="btn btn-success btn-sm" ng-click="selectAllIngredients()" style="width: 135px;">
								<i class="fa fa-check-square-o"></i>&nbsp;SELECT ALL
							</button>
							<button id="unselect-all" class="btn btn-success btn-sm" ng-click="unselectAllIngredients()" style="width: 135px;">
								<i class="fa fa-check-square-o"></i>&nbsp;UNSELECT ALL
							</button>
					    	<button id="discoverButton" ng-click="discoverRecipes()" class="btn btn-primary btn-sm">
								<i class="fa fa-cutlery"></i>&nbsp;&nbsp;DISCOVER RECIPE
							</button>
						</div>
						<div class="col-md-12">
							<div id="discover-recipe-grid">
								<div ng-repeat="discoveredRecipe in discoveredRecipes">
									<div class="col-md-4">
										<div class="recipe-name-container">
											<a class="recipe-name text-capitalize" ng-href="{{discoveredRecipe.source_url}}" target="_blank">
												{{discoveredRecipe.title}}
											</a>
											<p class="recipe-author">From:&nbsp;&nbsp;<em>{{discoveredRecipe.publisher}}</em></p>
											<a ng-href="{{discoveredRecipe.source_url}}" target="_blank">
												<img ng-src="{{discoveredRecipe.image_url}}" class="recipe-image"></img>
											</a>
										</div>
										<!-- <p class="recipe-author">From:&nbsp;&nbsp;<em>{{discoveredRecipe.publisher}}</em></p>
										<a ng-href="{{discoveredRecipe.source_url}}" target="_blank">
											<img ng-src="{{discoveredRecipe.image_url}}" class="recipe-image"></img>
										</a> -->
									</div>
								</div>
							</div>
						</div>
                    </div>
                </div>
            </form>
        </div>
    </div>
		
</div><!-- CLOSE NG-CONTROLLER DIV -->