/* ------------------------------------------------------------ */
/* ------------------>>> COLOR REFERENCE <<<------------------- */
/* ------------------------------------------------------------ */
    
/* 
	#E75918 ---------- Primary Orange
	#ff7e43	----------Lighter Orange
*/

/* ------------------------------------------------------------ */
/* ------------------->>> TEXT && LINKS <<<-------------------- */
/* ------------------------------------------------------------ */

#scrollUp {
	border-radius: 4px;
}


h1, h2, h3, h4, h5, h6 {
	color: #666666;
}
h1 {
	font-size: 30px;
}
h2 {
	font-size: 24px;
}
h3 {
	font-size: 18px;
}
a, .navbar-default .navbar-brand  {
    color: #E75918;
    text-decoration: none;
    transition: all 0.25s ease 0s;
}
a:hover,a:focus {
	color:#ff7e43;
	text-decoration:none
}
/* INPUT */
.form-group.focus .form-control,
.form-control:focus,
.form-group.focus .select2-search input[type="text"],
.select2-search input[type="text"]:focus {
	border-color: #bdc3c7;
	outline: 0;
	box-shadow: none;
}
 /* TOGGLE */
.navbar-toggle::before {
	color: #E75918 !important;
}
.navbar-toggle:hover:before,
.navbar-toggle:focus:before {
	color: #ff7e43 !important;
}

/* ------------------------------------------------------------ */
/* ----------------------->>> BUTTONS <<<---------------------- */
/* ------------------------------------------------------------ */

.btn-primary {
	color: #fff;
	background-color: #E75918;
}
.btn-primary:hover,
.btn-primary.hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
	color: #fff;
	background-color: #ff7e43;
	border-color: #ff7e43;
}
.navbar-nav > li > a {
    padding: 26px 0 26px 10px;
}

/* ------------------------------------------------------------ */
/* ------------------------->>> LOGO <<<----------------------- */
/* ------------------------------------------------------------ */

#logo-header {
	height: 75px;
}
.navbar-lg .navbar-brand {
    height: 76px;
    line-height: 1;
    padding-bottom: 10px;
    padding-top: 10px;
}
#logo-footer {
	width: 125px;
	padding-top: 25px;
	padding-bottom: 15px;
}

/* ------------------------------------------------------------ */
/* ------------------->>> GENERAL LAYOUT <<<------------------- */
/* ------------------------------------------------------------ */

body {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	font-size: 16px;
}
#main {
	margin: -30px 0; /* remove top and bottom excess padding */
	padding-bottom: 50px;
}
.navbar-default {
    background-color: #ffffff;
}

#footer {
	background-color: #4c4c4c;
	color: white;
	min-height: 200px;
	padding: 30px 0;
	font-size: 15px;
	margin: 0 auto;
}

/* ------------------------------------------------------------ */
/* ------------------------>>> FOOTER <<<---------------------- */
/* ------------------------------------------------------------ */

#footer h1 {
	font-size: 18px;
	color: white;
}
#footer ul {
	padding: 0;
    list-style: none;
}
#footer a, #footer p {
	font-size: 15px;
	color: #aaa;
	font-weight: 300;
	position: relative;	
  	text-decoration: none;
}
#footer a:hover, #footer a:focus, #footer a:active {
	color: #eee;
}
#footer a:before { /* underline animation */
	content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	bottom: 0;
	left: 0;
	background: #eee;
	visibility: hidden;
	border-radius: 5px;
	transform: scaleX(0);
	transition: .25s linear;
}
#footer a:hover:before, #footer a:focus:before { /* underline animation */
	visibility: visible;
	transform: scaleX(1);
}

/* ------------------------------------------------------------ */
/* --------------------->>> HOME PAGE <<<---------------------- */
/* ------------------------------------------------------------ */
.ui-autocomplete {
	position: absolute;
	top: 0;
	left: 0;
	cursor: default;
	max-height: 300px;
	overflow-y: auto !important;
	overflow-x: hidden !important;
	font-size: 12px !important;
}
.banner-container {
	background-color: gray;
	min-height: 300px;
	background-image: url("../img/banner-placeholder.jpg");
	background-size: cover;
	background-position: center center;
	background-attachment: scroll;
}
.banner-container h1 {
	color: #ffffff;
	text-shadow: 1px 1px 3px black;
}
.banner-container .input-group {
	display: inherit;
}
.input-container {
	padding: 60px 0;
}
.list-container {
	/* min-height: 200px; */
}
#addButton {
	color: #E75918;
}
#addButton:hover,
#addButton.hover,
#addButton:focus,
#addButton:active,
#addButton.active {
	color: #ffffff;
	background-color: #ff7e43;
	border-color: #bdc3c7;
}
.banner-container .input-group {
	display: inline !important;
}
.banner-container .input-group-btn {
	display: inherit;
}
#my-ingredients-container, #favorites-ingredients-container {
	height: 150px;
	overflow-y: auto;
}
.single-ingredient-container {
    background-color: #f1f1f1;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    color: #808080;
    display: inline-block;
    margin-bottom: 14px;
    margin-right: 10px;
    padding: 0 20px 0 8px;
    position: relative;
}
.delete-icon {
    cursor: pointer;
    font-size: 15px;
    position: absolute;
    right: 5px;
    top: -8px;
    z-index: 100;	
}
#discoverButton {
 	width: 175px;
 	margin-left: 5px;
}
#discover-recipe-grid {
	padding-top: 35px;
}
#discover-recipe-grid #recipe-author {
	margin: 0;
	padding: 0;
}
.recipe-author {
	font-size: 13px;
	margin-bottom: 6px;
}
.recipe-image {
	width: 250px;
	height: 250px;
	border-radius: 50%;
	border: 4px double #e0e0e0;	
/*  -webkit-box-shadow: 0 4px 0 0 rgba(0, 0, 0, 0.1);
 	box-shadow: 0 4px 0 0 rgba(0, 0, 0, 0.1); */
 	margin-bottom: 10px;
}
.recipe-name {
	color: #666666;
	font-size: 16px;
}
.recipe-name:hover, .recipe-name:focus, .recipe-name:active {
	color: #e75918 !important;
}

/* ------------------------------------------------------------ */
/* -------------->>> CUSTOM RESPONSIVE CSS <<<----------------- */
/* ------------------------------------------------------------ */
@media screen and (min-width: 1000px) {
    #support-col {
        margin-right: 25px;
    }
}
@media screen and (max-width: 767px) {
    #footer {
        text-align: center;
    }
}
@media screen and (max-width: 767px) {
    #logo-header {
        height: 60px;
    }
    .navbar-lg .navbar-brand {
	    padding-bottom: 8px;
	    padding-top: 8px;
	}
}
@media screen and (max-width: 382px) {
    #logo-header {
        height: 45px;
    }
    .navbar-lg .navbar-brand {
	    padding-bottom: 17px;
	    padding-top: 17px;
	}
}