<!-- index.html -->
<!-- MAIN LAYOUT -->

<!DOCTYPE html>

<!-- Define Angular App : mealWheelApp -->
<html ng-app="mealWheelApp">

<head>
    <meta charset="utf-8">
    <title>MealWheel</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Loading Bootstrap -->
    <link href="css/vendor/bootstrap.min.css" rel="stylesheet">
    
    <!-- Loading FontAwesome via CDN -->
    <link rel="stylesheet" href="css/font-awesome.min.css" />
    
    <!-- Loading Flat UI -->
    <link href="css/flat-ui.min.css" rel="stylesheet">
    
    <!-- Loading Custom Stylesheet -->
    <link href="css/style.css" rel="stylesheet">
    
    <!-- Loading Scroll Up Stylesheet -->
    <link id="scrollUpTheme" rel="stylesheet" href="css/themes/tab.css">
    <!-- https://markgoodyear.com/2013/01/scrollup-jquery-plugin/ -->
    
    <!-- Loading Angular and Angular Route via CDN -->
    <!-- <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.js"></script> -->
    <script src="js/angular-1.2.25/angular.min.js"></script>
    <script src="js/angular-1.2.25/angular-route.js"></script>
    <script src="js/app.js"></script>
    
    <!-- Loading jQuery (necessary for Flat UI's JavaScript plugins) -->
    <script src="js/vendor/jquery.min.js"></script>
    <script src="js/vendor/video.js"></script>
    <script src="js/flat-ui.min.js"></script>  
    
    <!-- Loading jQuery Autocomplete -->
    <!-- <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script> -->
    <link rel="stylesheet" href="js/jquery-ui-1.11.4/jquery-ui.css">
    <script src="js/jquery-ui-1.11.4/jquery-ui.js"></script>
    
    <!-- Loading Scroll Up plugin -->
    <script src="js/jquery.scrollUp.js"></script>
    
    <!-- Favicon goes here -->
    <link rel="icon" type="image/gif" href="img/favicon.gif" />
</head>

<!-- HTML BODY -->
<body ng-controller="MainController as mainController">
    <!-- HEADER AND NAVBAR -->
    <header>
        <nav class="navbar navbar-default navbar-lg">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand pull-left" href="#"><img id="logo-header" src="img/logo-header.png" /></a>
                </div>

                <!-- If NOT Logged In : Show Sign In button -->
                <div ng-show="!user.isLoggedIn">
                    <div id="navbar" class="navbar-collapse collapse pull-right">
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="login" id="signinButton">
                                    <button class="btn btn-default">SIGN IN</button>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                
                <!-- If Logged In : Show Profile and Sign Out buttons -->
                <div ng-show="user.isLoggedIn">
                    <div id="logged-in-navbar" class="navbar-collapse collapse pull-right">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a style="margin-top:5px"><i>{{user.info.firstName}} {{user.info.lastName}}</i></a></li>
                            <li>
                                <a href="#profile" id="profile-button">
                                    <button class="btn btn-default">MY PROFILE</button>
                                </a>
                            </li>
                            <li>
                                <a href="login" id="signOutButton">
                                    <button class="btn btn-default">SIGN OUT</button>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            
            </div>
        </nav>
    </header>
    
    <!-- MAIN CONTENT AND INJECTED VIEWS -->
    <div id="main">
        <!-- Angular templating -->
        <!-- This is where content will be injected -->
        <div ng-view></div>
    </div>
    
    <!-- FOOTER -->
    <div id="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-lg-3 col-sm-3">
                    <img id="logo-footer" src="img/logo-footer.png" />
                    <p>© 2015 MealWheel</p>
                </div>
                <div class="col-md-2 col-lg-2 col-sm-2">
                    <h1>Company</h1>
                    <ul>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Team</a></li>
                        <li><a href="#">Press</a></li>
                    </ul>
                </div>
                <div id="support-col" class="col-md-2 col-lg-2 col-sm-2">
                    <h1>Support</h1>
                    <ul>
                        <li><a href="#">How MealWheel Works</a></li>
                        <li><a href="#">FAQs</a></li>
                        <li><a href="#">Contact Us</a></li>
                    </ul>
                </div>
                <div class="col-md-2 col-lg-2 col-sm-2">
                    <h1>Policies</h1>
                    <ul>
                        <li><a href="#">Privacy</a></li>
                        <li><a href="#">Terms</a></li>
                    </ul>
                </div>
                <div class="col-md-2 col-lg-2 col-sm-2">
                    <h1>Connect</h1>
                    <ul>
                        <li>
                            <a href="https://www.facebook.com" target="_blank">
                                &nbsp;<i class="fa fa-facebook"></i>&nbsp;&nbsp;&nbsp;&nbsp;Facebook
                            </a>
                        </li>
                        <li>
                            <a href="https://www.twitter.com" target="_blank">
                                <i class="fa fa-twitter"></i>&nbsp;&nbsp;Twitter
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    
    <!-- INITIALIZE SCROLL UP PLUGIN -->
    <script>
	    $(function(){
	    	$.scrollUp({
	    		scrollName: 'scrollUp', // Element ID
	    		scrollDistance: 395, // Distance from top before showing element (px)
	    		topSpeed: 300, // Speed back to top (ms)
	    		animation: 'fade', // Fade, slide, none
	    		animationInSpeed: 200, // Animation in speed (ms)
	    		animationOutSpeed: 200, // Animation out speed (ms)
	    		scrollText: 'Scroll to Top', // Text for element
	    		activeOverlay: false, // Set CSS color to display scrollUp active point, e.g '#00FFFF'
	    	});
	    });
    </script>
    
</body>

</html>